<div class="main-container">
  <div class="innercontainer">
    <section class="admin-top">
      <h1>ADMIN</h1>
      <h1>DASHBOARD</h1>
    </section>
    <section class="summary-card">
      <div class="card">
        <h3>
          <span><i class="fa-solid fa-user"></i></span> Total Users
        </h3>
        <p>120</p>
      </div>

      <div class="card">
        <h3>
          <span><i class="fa-solid fa-music"></i></span> Total Concerts
        </h3>
        <p>120</p>
      </div>

      <div class="card">
        <h3>
          <span><i class="fa-solid fa-ticket"></i></span> Total Bookings
        </h3>
        <p>120</p>
      </div>

      <div class="card">
        <h3>
          <span><i class="fa-regular fa-calendar"></i></span> Upcoming Concerts
        </h3>
        <p>120</p>
      </div>
    </section>
  </div>
</div>
