<div class="main-container">
  <div class="inner-container">
    <section class="headsection">
      <div class="title">
        <h2>Manage Datas</h2>
      </div>
      <div class="headbuttons">
        <a href="/admin/add/artist" class="button">Create Artist</a>
        <a href="/admin/add/venue" class="button">Create Band</a>
        <a href="/admin/add/concert" class="button">Create Concert</a>
      </div>
    </section>
  </div>
</div>
