<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EchoTix</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="headersection">
        <div class="logo">
          <a href="/">ECHOTIX</a>
        </div>

        <nav>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/concerts">Artists</a></li>
            <li><a href="/concerts">Contact</a></li>
          </ul>
          <% if(userpresent){%>
          <div class="header-right">
            <button><i class="fa-regular fa-user"></i> <%= username %></button>
            <a href="/logout">Logout</a>
          </div>
          <% }else{%>
          <div class="header-right">
            <a href="/user/login"
              ><i class="fa-regular fa-user"></i> Login/Register</a
            >
          </div>
          <% }%>
        </nav>
      </div>
    </header>

    <%- body %>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
